.hero .container .box:nth-child(1) h1{
    font-family: 'Jersey 15', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url('/assets/hero-bg.jpg'); /* Path ke gambar */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar.scrolling-active{
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
}
.login .container-login{
    background-color: #478EF1;
    border-radius: 20px;
}
.login{
    max-width: 1200px;
    margin: 0 auto;
}
